<div class="card position-relative" *ngIf="picture">
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <img class="card-img-top" [src]="picture.full_picture" alt="Card image cap">

  <a class="carousel-control-prev" href="#" role="button" *ngIf="showPrev()" (click)="prev($event)">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#" role="button" *ngIf="showNext()" (click)="next($event)">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  <div class="card-body">
    <h5 class="card-title">{{ picture.author }}</h5>
    <small><strong>camera:</strong> {{ picture.camera }}</small>
    <p class="card-text">
      <ng-container *ngFor="let tag of picture.tags">
        <span class="badge badge-primary">{{ tag }}</span>
        &nbsp;
      </ng-container>
    </p>
  </div>

  <app-loader [fixed]="false" [show]="isLoading"></app-loader>
</div>