.page-loading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: rgba(51, 51, 51, 1);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: -1;

  &.fixed {
    position: fixed;
  }

  &.show {
    opacity: 0.5;
    z-index: 2000;
  }
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 38px;
  height: 38px;
  margin-left: -19px;
  margin-top: -19px;
}
