<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Images</span>
  </div>
</nav>

<!-- Page Content -->
<div class="container page-top">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let picture of pictures">
      <a href="#" class="fancybox" rel="ligthbox" (click)="open($event, picture.id)">
        <img [src]="picture.cropped_picture" class="zoom img-fluid " alt="">
      </a>
    </div>
  </div>
  <div class="row" *ngIf="pictures.length">
    <div class="col">
      <ngb-pagination size="sm" [(page)]="page" [pageSize]="10" [collectionSize]="10 * pageCount"
        (pageChange)="paginate($event)">
      </ngb-pagination>
    </div>
  </div>
</div>